<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear" ui-sref="app.more">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
        <h1 class="title">About</h1>
    </ion-header-bar>    
    
  <ion-content >
      <div class="item item-body">
     <div style="text-align:center;">
            <img src="img/logo.png" height="150"></img>
      </div>
	<div class="padding" style="margin:0; color: #666;">
        <p><b><u>What is SeeAround.me?</u></b><br/>
            <b>A desktop and mobile app to see what’s happening nearby.</b><br/>
Interesting things are happening near us all the time, but discovering them is surprisingly difficult.
        </p>
        <p style="margin-top: 10px;">
            Hyper-local news today is spread out across so many places: newspapers, blogs, radio, newsletters, Facebook, Twitter, Reddit, etc., so it's easy to miss things.
        </p>
        <p style="margin-top: 10px;">
            How it works:
        </p>
        <ul>
            <li>Each post is public and relates to a specific location.</li>
            <li>You see posts within the area and radius that you specify.</li>
            <li>Comment on, vote up/down, or share posts on social media.</li>
            <li>See something worth sharing? Create a post yourself.</li>
            <li>Search posts by keyword, or filter by preferences like interests</li>
        </ul>
        
        <p style="margin-top: 10px;">
Currently available in Oakland, Berkeley, and San Francisco
(Although functional everywhere, most content is in in those cities, so we’re limiting access there for now.)
        </p>
        <p style="margin-top: 10px;">
            <b><u>Oakland: Local matters</u></b><br/>
            <b>SeeAround.me was proudly created in Oakland and we want to give back.</b><br/>
This is intended first and foremost as a social utility and not a big business. However, if we generate a profit in the future, we plan to invest a substantial portion into the local community where this is first being incubated: Oakland.
      </p>
        <p style="margin-top: 10px;">
        <b><u>Contact info</u></b><br/>
Questions? Comments? Feedback?<br/>
Email <a href="mailto:a@seearound.me">a@seearound.me</a>
       </p> 
        
  </div>     
  </ion-content>
</ion-view>
