<ion-view view-title="About" hide-nav-bar="true">
    <ion-header-bar class="bar bar-header">
        <button menu-toggle="left" class="button button-icon">
            <img src="img/menu_off.png" height="18"/>
        </button>
        <h1 class="title">About</h1>
    </ion-header-bar>    
    
  <ion-content >
<div class="item item-body">
     <div style="text-align:center;">
            <img src="img/logo.png" height="150"></img>
      </div>
	<div class="padding" style="margin:0; color: #666;">
    <!--p>seearound.me is meant for people to connect locally. Looking for somebody to play tennis with? Borrow a tool? Coordinate a meetup? Find housing? Carpool? Yard sale? Just curious to see what's going on around you? We didn't want to limit how people can interact locally, so use seearound.me however you want!</p>
	<br /-->
	<p class="text-left">SeeAround.me is a platform to see and share local news.</p>
	<p style="margin-top: 10px;">Think of it as a home page for what's going on near you.</p>
	<p style="margin-top: 10px;">All news gets tagged to a location, and then others can comment and vote on what's most interesting—meaning the most interesting news should rise to the top.</p>
	<p style="margin-top: 10px;">You can also search and filter for specific topics or interests.</p>
	<p style="margin-top: 10px;">Think about it—where do you get local news today? Blogs, newspapers, radio, email newsletters…? It's not easy to get a quick picture of what's happening near you.</p>
	<p style="margin-top: 10px;">In an age when you can see what a friend in China has for lunch, why can't we see real-time hyperlocal news? The Internet and social media should make it easier!</p>
	<p style="margin-top: 10px;">Yet when I went to look for a platform like this, it didn't exist—so I decided to build it.</p>
	<p style="margin-top: 10px;">Although this website can be used anywhere, I'll be focusing on getting some seed content in Oakland, where I live. If you want to help or know of good local content sources, please let me know. And if you have any comments or feedback, I'll take those too. You can email me at <a href="mailto:a@seearound.me">a@seearound.me</a>.</p>

  </div>     
      <div class="login padding">
      <p class="small-text">
        All Rights Reserved. &copy; SeeAroundMe Inc. 2015
      </p>
    </div>
  </ion-content>
</ion-view>
