<ion-view view-title="About" hide-nav-bar="true">
    <ion-header-bar class="bar bar-header">
        <button menu-toggle="left" class="button button-icon">
            <img src="img/menu_off.png" height="18"/>
        </button>
        <h1 class="title">About</h1>
    </ion-header-bar>    
    
  <ion-content >
<div class="item item-body">
     <div style="text-align:center;">
            <img src="img/logo.png" height="150"></img>
      </div>
	<div class="padding" style="margin:0; color: #666;">
    <!--p>seearound.me is meant for people to connect locally. Looking for somebody to play tennis with? Borrow a tool? Coordinate a meetup? Find housing? Carpool? Yard sale? Just curious to see what's going on around you? We didn't want to limit how people can interact locally, so use seearound.me however you want!</p>
	<br /-->
	<p class="text-left">Post, comment, vote, message… to see and share what’s happening nearby in Pokémon Go!</p>
	<p style="margin-top: 10px;">All posts are location-based, and the app uses your location so you can see nearby posts (within the radius you set).</p>
	<p style="margin-top: 10px;">View posts on the Map or in List view. Comment and upvote good posts; ignore or downvote bad ones.</p>
	<p style="margin-top: 10px;">You can also search by keyword, like "Pikachu" or "Help," and filter by interests (keywords you can set in your profile), certain users you follow, most recent posts, etc.</p>
	<p style="margin-top: 10px;">If you’re in an area without any posts yet, you can lead that area and be the first to post!</p>
	<p style="margin-top: 10px;">This app is not affiliated with Pokémon Go, Niantic, The Pokémon Company, or Nintendo.</p>
	<p style="margin-top: 10px;">Have comments, questions, or requests? Leave them in the reviews or email <a href="mailto:a@seearound.me">a@seearound.me</a>!</p>
  </div>     
  </ion-content>
</ion-view>
