<ion-view hide-nav-bar="true" class="location_modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-icon" ui-sref="home">
            <i class="icon ion-ios-arrow-left"></i>
        </button>
        <h1 class="title">Allow Location</h1>
    </ion-header-bar>    
    
    <ion-content>
        <img src="img/logo-white.png" alt="">
        <div class="text padding">
          <p> SeeAround.me uses location to show you nearby content.  </p>
          <p>For the app to work, you'll need to grant permission to use your location</p>
        </div>

        <button ng-click="showLocationPopup()" class="button button-block button-light">
          Continue
        </button>
    </ion-content>
</ion-view>
