<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="menu">
    <ion-header-bar class="bar-stable">
      <img src="img/seearoundme.png" alt="">
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="profile_image">
          <div ng-click='goToOwnProfile()' menu-toggle>
            <img ng-src="{{User.Profile_image}}" >
          </div>
          <div ng-click="goToOwnProfile()" menu-toggle>{{User.Name}} </div>
        </ion-item>
        <ion-item class="item item-icon-left" menu-toggle ng-click='goToOwnProfile()'>
            <i class="icon">
              <img src="img/gear.png" height="16"/>
            </i>
          My profile
        </ion-item>   
        <ion-item class="item item-icon-left" menu-toggle ui-sref="app.postmapview">
            <i class="icon">
              <img src="img/map.png" height="18"/>
            </i>
            Map view
        </ion-item>   
        <ion-item class="item item-icon-left" menu-toggle ui-sref="app.postlistview">
            <i class="icon">
              <img src="img/list.png" height="16"/>
            </i>
          List view
        </ion-item>             
        <ion-item class="item item-icon-left" menu-toggle ui-sref="app.usermessages">
            <i class="icon">
              <img src="img/messages.png" height="11"/>
            </i>
          My messages
        </ion-item>     
        <ion-item class="item item-icon-left" menu-toggle ui-sref="app.userfollowing">
            <i class="icon">
              <img src="img/eye.png" height="12"/>
            </i>
          People I follow
        </ion-item>
        <hr style="margin-left:30px;margin-right:30px;"/>
        <ion-item class="item item-icon-left" menu-toggle ng-click="rateApp()">
            <i class="icon">
              <img src="img/love.png" height="14"/>
            </i>
          Love it? Rate the app!
        </ion-item>       
        <ion-item class="item item-icon-left" menu-toggle ui-sref="app.about">
            <i class="icon">
              <img src="img/about.png" height="16"/>
            </i>
          About
        </ion-item>               
        <ion-item class="item item-icon-left" menu-toggle ui-sref="app.terms">
            <i class="icon">
              <img src="img/terms.png" height="16"/>
            </i>
          Terms of use
        </ion-item>                         
        <ion-item class="item item-icon-left" menu-toggle ng-click="signOut()" >
            <i class="icon">
              <img src="img/logout.png" height="16"/>
            </i>
          Log out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>