<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="menu">
    <ion-header-bar class="bar-stable">
      <img src="img/seearoundme.png" alt="">
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="profile_image">
          <div ng-click='goToOwnProfile()' menu-toggle>
            <img ng-src="{{User.Profile_image}}" >
          </div>
          <div ng-click="goToOwnProfile()" menu-toggle>{{User.Name}} </div>
        </ion-item>
        <ion-item>
          View Posts
          <div class="sub-item" ui-sref="app.postmapview" menu-toggle> Map View <i class="ion-chevron-right"></i> </div>
          <div class="sub-item" ui-sref="app.postlistview" menu-toggle> List View <i class="ion-chevron-right"></i></div>
        </ion-item>
        <ion-item  menu-toggle>
          <div ui-sref="app.usermessages">
            Messages
            <i class="ion-chevron-right"></i>
          </div>
        </ion-item>
        <ion-item menu-toggle>
            <div ui-sref="app.userfollowing">
              Following
              <i class="ion-chevron-right"></i>                
            </div>
        </ion-item>
        <ion-item menu-toggle>
          <div ng-click='goToOwnProfile()'>    
            Profile
            <i class="ion-chevron-right"></i>
          </div>
        </ion-item>
        <ion-item ng-click="signOut()" menu-toggle>
          Signout
          <i class="ion-chevron-right"></i>
        </ion-item>
        <ion-item
          style="
            display: -webkit-flex;
            justify-content: space-between;
            padding-left: 12%;
            padding-right: 12%;
          "
          menu-toggle>
          <button
            ui-sref="app.terms"
            style="color: #7d7d7d;font-size:0.8rem"
            class="button-clear button-stable">Terms</button>
          <button
            ui-sref="app.about"
            style="color: #7d7d7d;font-size:0.8rem"
            class="button-clear button-stable">About</button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
