<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="profile">
    <ion-header-bar class="bar-stable">
      <img src="img/seearoundme.png" alt="">
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="profile_image">
          <div ng-click='goToOwnProfile()' menu-close>
            <img ng-src="{{User.Profile_image}}" >
          </div>
          <div ui-sref="app.userprofile" menu-close>{{User.Name}} </div>
        </ion-item>
        <ion-item>
          View Posts
          <p ui-sref="app.postmapview" menu-close> Map View <i class="ion-chevron-right"></i> </p>
          <p ui-sref="app.postlistview" menu-close> List View <i class="ion-chevron-right"></i></p>
        </ion-item>
        <ion-item  menu-close>
          <div ui-sref="app.usermessages">
            Messages
            <i class="ion-chevron-right"></i>
          </div>
        </ion-item>
        <ion-item menu-close>
            <div ui-sref="app.userfollowing">
              Following
              <i class="ion-chevron-right"></i>                
            </div>
        </ion-item>
        <ion-item menu-close>
          <div ng-click="goToProfile()">    
            Profile
            <i class="ion-chevron-right"></i>
          </div>
        </ion-item>
        <ion-item ng-click="signOut()" menu-close>
          Signout
          <i class="ion-chevron-right"></i>
        </ion-item>
        <ion-item menu-close>
          <div ui-sref="app.terms">    
            Terms
            <i class="ion-chevron-right"></i>
          </div>
        </ion-item>
        <ion-item menu-close>
          <div ui-sref="app.about">    
            About
            <i class="ion-chevron-right"></i>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
