  <ion-view hide-nav-bar="true" class="more">
    <ion-header-bar class="bar-stable">
      <img src="img/seearoundme.png" alt="">
    </ion-header-bar>
    <ion-content>
    <div class="profile" ng-click="goToOwnProfile()">
        <img ng-src="{{User.Profile_image}}" >
        <div>{{User.Name}} </div>
    </div>        
      <ion-list>
        <div class="item item-icon-left" ng-click='goToOwnProfile()'>
            <i class="icon">
              <img src="img/gear.png" height="16"/>
            </i>
            My profile
        </div>   
          <!--
        <div class="item item-icon-left"   ui-sref="app.postmapview">
            <i class="icon">
              <img src="img/map.png" height="18"/>
            </i>
            Map view
        </div>   
        <div class="item item-icon-left"   ui-sref="app.postlistview">
            <i class="icon">
              <img src="img/list.png" height="16"/>
            </i>
            List view
        </div> 
        -->
        <div class="item item-icon-left"   ui-sref="app.usermessages">
            <i class="icon">
              <img src="img/messages.png" height="11"/>
            </i>
            My messages
        </div>     
        <div class="item item-icon-left"   ui-sref="app.userfollowing">
            <i class="icon">
              <img src="img/eye.png" height="12"/>
            </i>
            People I follow
        </div>
        <hr style="margin-right:60px;"/>
        <div class="item item-icon-left"   ng-click="rateApp()">
            <i class="icon">
              <img src="img/love.png" height="14"/>
            </i>
            Love it? Rate the app!
        </div>       
        <div class="item item-icon-left"   ui-sref="app.about">
            <i class="icon">
              <img src="img/about.png" height="16"/>
            </i>
            About
        </div>               
        <div class="item item-icon-left"   ui-sref="app.terms">
            <i class="icon">
              <img src="img/terms.png" height="16"/>
            </i>
            Terms of use
        </div>                         
        <div class="item item-icon-left"   ng-click="signOut()" >
            <i class="icon">
              <img src="img/logout.png" height="16"/>
            </i>
            Log out
        </div>
      </ion-list>
    </ion-content>
  </ion-view>