<ion-view view-title="Privacy Policy" hide-nav-bar="true">
    <ion-header-bar class="bar bar-header">
        <button class="button button-icon" ui-sref="signup" ng-show="isBeforeSignUp">
            <i class="icon ion-ios-arrow-left"></i>
        </button>               
        <!--
        <button menu-toggle="left" class="button button-icon" ng-hide="isBeforeSignUp">
            <img src="img/menu_off.png" height="18"/>
        </button>
        -->
        <h1 class="title">Privacy Policy</h1>        
    </ion-header-bar>    
    
  <ion-content >
	<div align="center" class="padding" style="margin:0; color: #666;">
            <h4>Seearound.me</h4> 
            <h3>Privacy Policy</h3>
	<p class="text-left">SeeAround.me provides its website/app (the "Services") pursuant to the following terms relating to the collection and use of the personally identifiable information ("PII") of its users ("Users") from and by its website/app (the "Site"):</p>
	<p class="text-left">WHAT KINDS OF PERSONALLY IDENTIFIABLE INFORMATION DO WE COLLECT FROM USERS?</p>
	<p class="text-left">In order to use the Site, Users must register and open an account. In the course of doing so, the User is required to submit a username and a password. The username can be the User's actual name or a made up name. SeeAround.me collects this information, but it may not be PII depending on whether the username is the User's actual name. Alternatively, the User can establish the account using his/her Facebook login. The information SeeAround.me collects if the user logs in using his/her Facebook login is the following: name, email address, date of birth, and gender, and interests.If a User does submit this information, SeeAround.me collects it, although the User may still use a different display name. The information that SeeAround.me collects at the time a User establishes an account is referred to herein as his/her "Profile".</p>
	<p class="text-left">Each time a User posts a messageor photo to the Site, SeeAround.me collects the geo-location coordinates of that User as of that date and time. If a User submitted his/her real name when he/she established the account, SeeAround.me may be able to identify the location of that actual, named User, at least the location where the User was at the time of the post. In any event, SeeAround.me is able to match User posts with their geo-location coordinates and with the information in their Profiles. SeeAround.me collects, uses and retains all of that information, some of which (such as a User's actual name used as the username, the User's Profile photo and email address, with or without the geo-location information) may be personally identifiable.</p>
	<p class="text-left">HOW DOES SEEAROUND.ME USE THE PII THAT IT COLLECTS FROM USERS?</p>
	<p class="text-left">When a User posts a message or a photo, the Site displays that content along with the username, the User's Profile picture, a map of the location where the User posted the content and a time stamp of the posting. SeeAround.me makes all of this information publicly available without restriction as part of the service. Profiles may also include the User's email address, although Users are free to suppress that.</p>
	<p class="text-left">DOES SEEAROUND.ME SHARE THE PII THAT IT COLLECTS FROM USERS WITH THIRD PARTIES?</p>
	<p class="text-left">SeeAround.me makes the following information publicly available: username, the message and/or Profile photo, a map of the location where the User posted the content, a time stamp of the posting, and all of the User's other Profile information that the User has not suppressed in the settings area of the Profile, including perhaps the User's age, gender, interests, and Profile photo. SeeAround.me does not sell any of this information to third parties.</p>
	<p class="text-left">HOW LONG DOES SEEAROUND.ME RETAIN THE PII THAT IT COLLECTS FROM ITS USERS?</p>
	<p class="text-left">SeeAround.me has no current means of purging the information it collects from Users. SeeAround.me will retain that information indefinitely.</p>
	<p class="text-left">CAN USERS REQUEST THAT SEEAROUND.ME PURGE THEIR PII THAT SeeAround.me HAS RETAINED?</p>
	<p class="text-left">Users can request that SeeAround.me purge their PII, but SeeAround.me currently has no means to do so and will not respond to User requests.</p>
	<p class="text-left">CAN USERS REVIEW THE PII THAT SEEAROUND.ME HAS COLLECTED AND RETAINED ABOUT THEM?</p>
	<p class="text-left">The Site enables Users to review and edit their Profile information.</p>
	<p class="text-left">DOES SEEAROUND.ME'S SITE PLACE COOKIES ON THE USERS' MACHINES? IF SO, WHAT INFORMATION DO THOSE COOKIES COLLECT AND HOW IS THAT INFORMATION USED?</p>
	<p class="text-left">The Site places certain cookies on Users' machines. One type of cookie is placed on all Users' machines and determines if a User is logged in or not. Another cookie is placed when a User checks the "remember me" option when logging in so that the User doesn't have to log in every time he or she visits the website.</p>
	<p class="text-left">WHAT SECURITY MEASURES DOES SeeAround.me EMPLOY TO PROTECT USERS' PII FROM UNAUTHORIZED ACCESS OR USE?</p>
	<p class="text-left">User data is saved in a database, withpasswords secured using SHA256 encryption.</p>
	<p class="text-left">HOW CAN USERS CONTACT SeeAround.me WITH QUESTIONS ABOUT PRIVACY-RELATED ISSUES?</p>
	<p class="text-left">Users having questions about SeeAround.me's privacy-related practices and procedures may contact SeeAround.me by email at a@seearound.me. This is the exclusive way that Users may contact SeeAround.me about privacy related issues.</p>
	<p class="text-left">IS SEEAROUND.ME INTENDED TO BE USED AND ACCESSED BY CHILDREN UNDER THIRTEEN YEARS OF AGE?</p>
	<p class="text-left">SeeAround.me's Site is intended to be used only by adults. SeeAround.me will terminate access to the Site of any User who SeeAround.me learns is under age 13.</p>
	<p class="text-left">DOES SEEAROUND.ME RESPOND TO "DO NOT TRACK" REQUESTS FROM ITS USERS?</p>
	<p class="text-left">At this time, SeeAround.me does not respond to "Do Not Track" requests.</p>
	<p class="text-left">HOW WILL SEEAROUND.ME INFORM USERS OF CHANGES TO THIS PRIVACY POLICY?</p>
	<p class="text-left">SeeAround.me reserves the right to make changes to this privacy policy at any time. When SeeAround.me does make changes, it will post a revised privacy policy containing those changes and including a new effective date at SeeAround.me/privacy. The revised privacy policy will become effective upon posting. Users are responsible for checking the privacy policy frequently to stay aware of SeeAround.me's most current privacy policy and practices.</p>
	<p class="text-left">EFFECTIVE DATE OF THIS PRIVACY POLICY</p>
	<p class="text-left">The effective date of this privacy policy is November 16, 2014.</p>
</div>
  </ion-content>
</ion-view>
