<ion-view hide-nav-bar="true" class="login">
    <div class="bar bar-header bar-light nav-title-slide-ios7 transparent-nav" style="background: none; border-bottom: none;">
        <button class="button button-icon" style="color:#fff;" ui-sref="home">
            <i class="icon ion-ios-arrow-left text-light"></i>
        </button>
        <h1 class="title" style="color:#fff;">Register with e-mail</h1>
    </div>
  <ion-content>
      <div class="vbox login-bg padding">
          <div class="spacer40"></div>
        <div class="text-center" style="height:60px;width:100%;">
            <div class="image-round" ng-click="toggleCamBar()">
                <img ng-show="imgUri" ng-src="{{imgUri}}"/>
                <img ng-show="!imgUri" ng-src="img/photo_plus.png"/>
            </div>
        </div>
        <div class="spacer10" ng-hide="showCamBar"></div>
        <div class="row row-center" width="100%" style="background:transparent;" ng-show="showCamBar">
            <button class="col button button-clear button-light" ng-click="openMedia('camera')" style="width:200px;">Camera</button>
            <button class="col button button-clear button-light" ng-click="openMedia('gallery')">Gallery</button>
            <button class="col button button-clear button-light" ng-click="clearImage()">Clear</button>
        </div>
          <form>
              <div class="list">
                <label class="item item-input">
                  <input type="text" placeholder="Name..." ng-model="formData.name" required="required">
                </label>
                 <div class="spacer20"></div> 
                <label class="item item-input">
                  <input type="email" placeholder="E-mail address..." ng-model="formData.email" required="required">
                </label>
                  <div class="spacer20"></div>
                <label class="item item-input">
                  <input type="password" placeholder="Password..." ng-model="formData.password" required="required">
                </label>
                  <div class="spacer20"></div>
                <label class="item item-input">
                  <input type="password" placeholder="Repeat password..." ng-model="formData.repeatPW" required="required">
                </label>              
              </div>
              <div class="text-center">
                  <button type="submit" class="button button-outline" ng-click="doSignUp()">
                    Register
                  </button>
              </div>              
          </form>
              <p class="text-center padding hide-on-keyboard-open">
                  <a class="link" ng-click="openTerms()">Terms of Service</a> and 
                  <a class="link" ng-click="openPrivacy()">Privacy Policy</a>
              </p>          
      </div>
  </ion-content>
</ion-view>
