<ion-view view-title="Sign In">
  <ion-content padding="true">
      <br><br>
    <a class="button button-block button-positive" href="#/app/signin">
        Login with Facebook
    </a>
    <div>We'll never post anything without your permission</div>
    <hr>
    <br>Or with Email
    <form>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="loginForm.email" required="required">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginForm.password" required="required">
          </label>
        </div>
        <a class="button button-block button-positive" ng-click="doLogin(loginForm)">
            Login
        </a>
    </form>

  </ion-content>
</ion-view>
