<ion-view view-title="Intro" class="intro">
    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide>
        <div class="item-image">
          <img src="img/intro_desc.png">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="item-image">
          <img src="img/intro_cats.png">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="item-image">
          <img src="img/intro_map.png">
        </div>
      </ion-slide>                
      <ion-slide>
        <div class="item-image">
          <img src="img/intro_list.png">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="intro-loc text-center">
            <div class="row">
                <button class="button button-outline col col-center" ng-click="startApp()">
                    Allow location access
                </button>
            </div>
        </div>
      </ion-slide>        
    </ion-slide-box>
</ion-view>