//post/add.html
.addpost {
  ion-header-bar{
    border-bottom: 1px solid $gray;
  }

  .icon{
    font-size: 1.6rem !important;
  }

  .avatar {
    margin: 2%;
  }

  .post {
    // float: left;
    height: 10rem;
  }

  textarea{
    height: 100%;
  }

  .scroll{
    width: 100%;
  }

  .commentbox {
    padding: 5%;
    width: 100%;
    font-family: 'Lato';
    color: rgba(0,0,0,0.8);
  }

  .bar.bar-footer{
    border-top: 2px solid gray;
  }

  .camera-button {
    margin: auto;

    i{
      padding-left: 5px;
    }
  }

  .blue{
    color: $positive !important;
  }
    
  .gray {
    color: $gray !important;
  }    
}
