// post/alerts.html
.alerts{
    font-family: 'Lato';
    width:90%;
    height:80%;
    border-radius: 0 !important;
    border-bottom: 1px solid #666;
    position: absolute !important;
    left:5% !important;
    
    .header-item{
        font-family: 'Lato-Bold'
    }
    
      .gray{
        background: lightgray;
      }

    
    .alert:last-child{
        border-bottom: 1px solid #666;
    }
    
    .alert{
        border-color: #888;
        border-radius: 0 !important;
        padding: 6px;
        overflow: inherit;
        text-overflow: inherit;

        .col-10{
          display: flex;
          align-items: center;
          margin: 5px 15px;
        }

        .top{
            color: $positive;
            .name{
                font-style: italic;
                font-size: .9em;
                max-width: 100px;
                overflow:hidden;
                text-overflow:ellipsis !important;                
            }
        }

        .avatar{
            text-align: center;
            margin: auto;
            margin-left: 20px;
        }

        img{
          height: 50px !important;
          width: 50px !important;
          border-radius: 100%;
          border: 2px solid $positive;
        }

        .row{
          padding: 0;
          p{
            padding: 5px;
            white-space: normal;
            color: $messageTextColor;
          }
          .time{
            text-align: right;
            font-size: .6em;
            font-style: italic;
            margin-right: 10px;
          }
        }
    }
    
  .item-complex{
    .item-content{
      padding: 0;
    }
  }
}
