.cats {
    margin-top:0;
    border-radius:0 !important;
    width:200px !important;
    height:246px !important;
    padding:0 !important;
    background-color: #fff !important;
    background: #fff !important; 
    overflow: hidden !important;   
}