// chat

.chat{
  font-family: 'Lato';
  .user{
    display: flex;
    align-items: center;
    font-style: italic;
    padding-right: 5px;

    .profile_image{
      width: 8vw;
      height: 8vw;
      border: 2px solid $positive;
      border-radius: 100%;
      margin-left: 10px;
    }
  }

  .date{
    text-align: center;
    font-style: italic;
    color: $positive;
  }

  .chat_msgs{
    color: black;
    background: $lightgray;
    .scroll{
      background: $lightgray;
    }
  }
      
/* ==========================================================================================================
         SPEECH BUBBLE 
** ========================================================================================================== */

    .bubble{
      position: relative;
      padding: 15px;
      margin: 20px;
      border-radius: 10px;
      display: inline-block;
    }
      
    .bubble-left{
      background: $light;
    }
      
    .bubble-right{
      background: $positive;
      color: $light;
    }
      
      
    /* creates part of the curve */
    .bubble-left:before{
        content:"";
        position:absolute;
        z-index:10;
        bottom:10px;
        left:-20px;
        width:0;
        height:20px;
        border-left:20px solid #fff;

        /* css3 */
        -webkit-border-bottom-left-radius:100px 70px;
        border-bottom-left-radius:100px 70px;
    }

    /* creates part of the curved pointy bit */
    .bubble-left:after {
        content:"";
        position:absolute;
        z-index:10;
        bottom:20px;
        left:-20px;
        width:0;
        height:20px;
        border-right:20px solid #eee;
        background:transparent !important;
        background-color:transparent !important;
        /* css3 */
        -webkit-border-bottom-right-radius:100px 50px; 
        border-bottom-right-radius:100px 50px; 
    }

    /* creates part of the curve */
    .bubble-right:before {
        content:"";
        position:absolute;
        z-index:10;
        bottom:10px;
        right:-20px;
        width:0;
        height:30px;
        border-right:20px solid #345EC2;

        -webkit-border-bottom-right-radius:100px 70px;
        border-bottom-right-radius:100px 70px;
    }

    /* creates part of the curved pointy bit */
    .bubble-right:after {
        content:"";
        position:absolute;
        z-index:10;
        bottom:20px;
        right:-20px;
        width:0;
        height:20px;
        border-left:20px solid #eee;
        /* css3 */
        -webkit-border-bottom-left-radius:100px 50px; 
        border-bottom-left-radius:100px 50px; 
    }

/******************************************************************************************************/

  .ion-footer-bar{
    border-top: 2px solid $lightgray;
    padding: 0;

    input{
      width: 75%;
      padding-left: 35px !important;
      padding-top: 10px;
    }

    .button{
      width: 25%;
      padding-top: 5px;
      border-radius: 0;
    }
  }
}
