.filters {

    .fbg1 {
        background: -webkit-linear-gradient(left, #ff6666 0%,#fff 100%); 
        background: linear-gradient(to right, #ff6666 0%,#fff 100%);        
    }
    
    .fbg2 {
        background: -webkit-linear-gradient(left, #999999 0%,#fff 100%); 
        background: linear-gradient(to right, #999999 0%,#fff 100%);                
    }
    
    .fbg3 {
        background: -webkit-linear-gradient(left, #cc99ff 0%,#fff 100%); 
        background: linear-gradient(to right, #cc99ff 0%,#fff 100%);                
    }
    
    .fbg4 {
        background: -webkit-linear-gradient(left, #66cccc 0%,#fff 100%); 
        background: linear-gradient(to right, #66cccc 0%,#fff 100%);                
    }
    
    .fbg5 {
        background: -webkit-linear-gradient(left, #ffcc66 0%,#fff 100%); 
        background: linear-gradient(to right, #ffcc66 0%,#fff 100%);                
    }  
    
    .fbg1, .fbg2, .fbg3, .fbg4, .fbg5 {
        height: 50px;
        border:1px solid #000 !important;
    }
    
    .smaller {
        height: 40px !important;
        padding: 8px;
    }
}