//home.html

.home {
    .logo {
        height: 60%;
        padding-top: 150px;
        text-align: center;
    }
    
    .container{
        height: 100%;
    }
    
    .bottom{
        margin-top: 42%;
    }
}
