//home.html

.home {
    
    .home-bg {
        width: 100vw;
        height: 100vh;

        background-image: url(../img/home.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;  
        
        .row {
            position: absolute !important;
            bottom: 14vh;
        }

        p {
              font-size: 14px;
              font-family: "Lato";
              color: #fff;
              text-align: center;
              position: absolute !important;
              bottom: 6vh;
              width: 100vw;
        }

        .button-outline { 
            padding-top: 6px !important;
            padding-bottom: 6px !important;
            padding-left: 16px !important;
            padding-right: 16px !important;
            height: 60px !important;
            width: 130px !important;
            border-radius: 22px !important;
            border:2px solid #fff !important;
            font-size: 18px !important;
            font-family: "Lato" !important;
            color: #fff !important;
        }                
    } 
    
    .link{
        color: cornflowerblue;
        text-decoration: none;
    }    
}
