// intro_location.html
.intro {    
    .intro-loc {
        width: 100vw;
        height: 100vh;
        background-image: url(../img/intro_location.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;  
        
        .row {
            position: absolute !important;
            bottom: 18vh;
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .button-outline {   
            height: 60px !important;
            border-radius: 22px !important;
            border:3px solid #fff !important;
            font-size: 24px !important;
            font-family: "Lato" !important;
            color: #fff !important;
            text-align: center;
            background-color:rgba(255, 255, 255, 0.15);
        }        
    }
    
    .intro-out {
        width: 100vw;
        height: 100vh;
        padding-top: 64px;

        background-image: url(../img/auth-bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;  
        
        .input {
            font-style: italic !important;
        }
        
        .white-text {
              font-size: .9em;
              font-family: "Lato";
              color: $light;
              line-height: 1.1;
              text-align: left;
        }        

        .button-outline {   
            height: 60px !important;
            width: 60vw;
            border-radius: 22px !important;
            border:3px solid #fff !important;
            font-size: 24px !important;
            font-family: "Lato" !important;
            color: #fff !important;
            text-align: center;
        }        
    } 
    
    .intro-desc, .intro-list, .intro-map, .intro-cats {
        width: 100vw;
        height: 100vh;        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;  
    }
    
    .intro-list {
        background-image: url(../img/intro_list.png);
    }
        
    .intro-map {
        background-image: url(../img/intro_map.png);
    }
    
    .intro-cats {
        background-image: url(../img/intro_cats.png);
    }    
    
    .intro-desc {
        background-image: url(../img/intro_desc.png);
    }    
    
    .link{
        color: cornflowerblue;
        text-decoration: none;
    }
    
    .cats {
        width: 100% !important;
        height: 100% !important;
        
        span {
            position: absolute;
            right: 10px;
            max-width: 35vw;
            min-width: 35vw;
            width: 35vw;
            bottom: 10px;
            text-align: left;
            font-size: .9em;
        }
        
        label {
            color: #000;
            font-family: "Lato" !important;
            font-size: 1.3em;
        }
        
        .head {
            color: #000;
            font-family: "Lato" !important;
            font-size: 1.3em;
            font-weight: bold;
        }        
        
        .item {
            height: 14vh !important;
        }
        
        .selected {
            background:#fff !important;
        }

        .fbg1 {
            background:#ff7063 !important;
        }

        .fbg2 {
            background:#909090 !important;
        }

        .fbg3 {
            background:#b795ff !important;
        }

        .fbg4 {
            background:#7bcebb !important;
        }

        .fbg5 {
            background:#78b6f0 !important;
        } 

        .fbg1, .fbg2, .fbg3, .fbg4, .fbg5, .selected {
            height: 14vh !important;
            padding-left:30px;
        }         
    }
        
    .slider-pager {
        bottom: 26px !important;
    }
    
    .slider-pager .active {
        color: $positive !important;
    } 
    
    .slider-pager .slider-pager-page {
        color: #aaa !important;
    }
}