//login.html

.login {
  hr{
    width: 100%;
  }
  .heading{
    @include centered-heading;
  }

  .small-text{
    @include centered-small-text;
  }

  .medium-text{
    @include centered-medium-text;
  }
    
  .vbox {
    @include vbox-layout;
  }

  .row {
    -webkit-flex: 1;
  }

    .link{
        color: cornflowerblue;
        text-decoration: none;
    }
}
