// mapview.html
#map {
  width: 100%;
  height: 100%;
}

.alert-badge {
  font-family: 'Lato-Italic';
  font-size: .6rem;
  color: #ffb478;
  text-align: center;
  position: absolute;
  bottom: 6px;
  left: 46%; 
}

.icon-label {
  font-family: 'Lato';
  font-size: .7rem;
  line-height: .5rem;
  max-height: 6px;
  color: #FFF;
  text-align: center;
  margin-top: -4px;
}

.scroll {
  height: 100%;
}

.prof-img {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    border: 2px solid $light;
}

.header-buttons{
  width: 100vw;
  padding-top: 5px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.bar-header, .bar-subheader{
    align-items: center !important;
    -webkit-align-items: center !important;
}

.bar-footer.range{
  height: 7vh;
  border: 0;

  .title{
    margin: 0;

    input{
      margin: 0 0 30px 20px;
    }
    i{ margin-bottom: 28px; }
  }
}

.post-select{
    font-family: 'Lato';
    width:100%; 
    height:100%; 
    padding:0;
    border:0; 
    background: #fff !important;
    position:absolute; 
    top:0; 
    left:0; 
    padding:6px !important;
    color:#999 !important;        
}

.vbox {
    @include vbox-layout;
    .row {
        -webkit-flex: 1;
    }    
}
