//menu.html
.profile{
  .scroll{
    background: #e8e8e8;
  }
  .bar.bar-stable{
    background: white;
    img{
      width: 50%;
      margin: auto;
    }
  }
  .list{

    .item{
      padding-left: 15%;
      background: #e8e8e8;
      font-family: 'Lato-Bold';
      color: $gray;
      border-bottom: 2px solid rgba(144, 144, 144, 0.9);
      font-size: 0.8rem;
      i{
        float: right;
        padding-right: 10%;
        color: black;
        opacity: 0.4;
      }

      p{
        font-family: "Lato";
        padding: 5% 0 0 20%;
      }
    }

    .item-complex .item-content{
      background: inherit;
    }

    ion-item:first-child{
      padding-left: 16px;
      text-align: center;
      width: 100%;
      color: $positive;

      img{
        border: 4px solid $positive;
        opacity: 0.8;
        border-radius: 100vw;
        width: 90px;
        height: 90px;
        margin: auto;
      }
    }

    .col{
      padding-left: 0;
      text-align: left;
    }
    .col+.col{
      padding-right: 15%;
      text-align: right;
    }
  }
}
