//listview.html

.postlistview {

  font-family: 'Lato';

  .half-view {
    // height: 220px;
    height: auto;
    max-height: 220px;
    background: $light;
  }

  .full-view {
    background: $light;
    height: 100vh;
    /* max-height is the secret to animation -- don't remove it*/
    max-height: 100vh;
    -webkit-transition: max-height .6s ease-in-out;
    transition: max-height .6s ease-in-out;
  }
    
  .post_item{
    border-bottom: 1px solid lightgray;
  }

  .post-iamge{
      max-width:100%;
      min-height:100px; 
      background: lightgray
   }
    
    .post-link{
        max-height:66px;
        overflow:hidden;
        text-overflow:ellipsis !important;
    }
    
    .link-title{
        font-family: 'Lato';
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .link-text{
      color: $messageTextColor;
      /*font-family: 'Lato-Light';*/    
      font-family: 'Lato';
      font-size: .9rem !important;
      line-height: 1rem;
      white-space: nowrap !important;
    }

  .row{
    padding: 4px !important;
  }

/*    
  img{
    width: 100%;
    height: auto;
  }*/

 .modal_header{
   width: 100vw;
   background: white;
   height: 40px;
   padding: 0 5px;
   opacity: 0.7;
   display: -webkit-flex;
   justify-content: space-between;
   align-items: center;

   .right i{ margin-right: 5px; font-size: 25px; }
   .left i{ padding: 5px; font-size: 20px; }
     
    border-bottom: 1px solid $ashgray;

  }

  .user{
    img{
      height: 50px !important;
      width: 50px !important;
      border-radius: 100%;
      border: 2px solid $positive;
    }

    .avatar{
        text-align: center;
    }     
      
    .name{
      /*margin-top: 1vh;*/
      font-size: .8rem;
      font-style: italic;
      font-weight: bold;
    }
      
    .date{
        font-size: .7rem;
        font-weight: normal;
        float: right;
        margin-right: 10px;
    }
            
    .desc{
      color: $messageTextColor;
      /*font-family: 'Lato-Light';*/    
      font-family: 'Lato';
      font-size: .8rem !important;
      padding-top: 0.6vh;
      line-height: 1rem;
    }      
  }

  .share{
    display: flex; display: -webkit-flex;
    align-items: center;
    padding: 5px 20px;
    .chat-bubble {
      display: flex; display: -webkit-flex;
      align-items: center;
      font-size: .7rem;
      img{
        margin-left: 5px;
        font-size: 1.4rem;
        height: 20px;
        width: 20px;
      }
    }

    .arrows{
      display: flex; display: -webkit-flex;
      font-size: .7rem;
      align-items: center;
      img{
        width: 20px;
        margin: 0 10px;
      }
      i{
        font-size: 2rem;
        font-weight: 800;
        padding: 0 10px;
      }
    }

    .col:last-child{
      text-align: right;
      font-family: 'Lato';
      font-size: .8rem;
    }
  }

  .write-comment{
    border: 2px solid $lightgray;
    padding: 0;

    input{
      font-family:'Lato-Italic';
      width: 80%;
      padding-left: 20px;
      padding-top: 10px;
    }
  }
    
    .post-select{
        width:100%; 
        height:100%; 
        padding:0;
        border:0; 
        background: #fff !important;
        position:absolute; 
        top:0; 
        left:0; 
        padding:6px !important;
        color:#999 !important;        
    }
}

  .left-buttons{
    display: flex; display: -webkit-flex;
    width: 100vw;
    justify-content: space-between;
    img{
      padding-top: 4px;
    }
  }

