//listview.html

.postlistview {

  .half-view {
    height: 220px;
    max-height: 220px;
    background: $light;
  }

  .full-view {
    background: $light;
    height: auto;
    /* max-height is the secret to animation -- don't remove it*/
    max-height: 400px;
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
  }

  .post_item{
    border-bottom: 1px solid lightgray;
  }


  .row{
    padding: 4px !important;
  }

  font-family: 'Lato';

  img{
    width: 100%;
    height: auto;
  }

  .user{
    border-bottom: 1px solid lightgray;
    img{
      height: 50px !important;
      width: 50px !important;
      border-radius: 100%;
      border: 2px solid $positive;
    }
    .avatar{
        text-align: center;
        margin: auto;
    }     
      
    .name{
      /*margin-top: 1vh;*/
      font-size: .8rem;
      font-style: italic;
      font-weight: bold;
    }
      
    .date{
        font-size: .7rem;
        font-weight: normal;
        float: right;
        margin-right: 10px;
    }
            
    .desc{
      color: $messageTextColor;
      /*font-family: 'Lato-Light';*/    
      font-family: 'Lato';
      font-size: .8rem !important;
      line-height: 1em;
    }      
  }
  .share{
    display: flex; display: -webkit-flex;
    align-items: center;
    padding: 5px 20px;
    .chat-bubble {
      display: flex; display: -webkit-flex;
      align-items: center;
      font-size: .7rem;
      img{
        margin-left: 5px;
        font-size: 1.4rem;
        height: 20px;
        width: 20px;
      }
    }

    .arrows{
      display: flex; display: -webkit-flex;
      font-size: .7rem;
      align-items: center;
      img{
        width: 20px;
        margin: 0 10px;
      }
      i{
        font-size: 2rem;
        font-weight: 800;
        padding: 0 10px;
      }
    }

    .col:last-child{
      text-align: right;
      font-family: 'Lato';
      font-size: .8rem;
    }
  }

  ion-footer-bar{
    border-top: 2px solid $lightgray;
    padding: 0;

    input{
      font-family:'Lato-Italic';
      width: 75%;
      padding-left: 30px;
      padding-top: 10px;
    }

    .button{
      width: 25%;
      padding-top: 5px;
      border-radius: 0;
    }
  }
    
    .post-select{
        width:100%; 
        height:100%; 
        padding:0;
        border:0; 
        background: #fff !important;
        position:absolute; 
        top:0; 
        left:0; 
        padding:6px !important;
        color:#999 !important;        
    }
}

  .left-buttons{
    display: flex; display: -webkit-flex;
    width: 100vw;
    justify-content: space-between;
    img{
      padding-top: 4px;
    }
  }

