// sigjj
.sign_in{
  .facebook.login{
    height: 30vh;
    display: flex;
    align-items: flex-end;
    line-height: 1.2rem;
    margin-bottom: 20px;
  }

  .content{
    width: 100%;
  }

  .disclaimer{
    color: $gray;
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 2vh;
  }
}

hr{
  margin-bottom: 8%;
  margin: 0;
  padding: 0 5%;
  width: 100vw;
  transform: translateX(-20px);
}

.login.form{
  position: relative;
  h4{
    font-family: 'Lato-light';
    color: $gray;
    padding: 4.5%;
    font-size: 1.1rem;
    text-align: center;
  }

  form{
    font-family: 'Lato-light' !important;
    height: 52vh;

    label {
      margin-bottom: 4%;
      border-width: 2px;
      border-color: $gray;
    }

    input{
      @include input-placeholder($gray);
    }

    button{
      position: absolute;
      bottom: 0;
    }
  }
}
