// Base

body, html {
	font-size: 100%;
    font-family: 'Lato';
}

.scroll {
	background-color: $light;
}

.clearboth {
	clear: both;
}

a.hashtag {
    color: #07c;
}

// need to move to seperate file sometime
.share-page {
	.share {
		text-align: center;
		padding: 3rem;
		button {
			margin-top: 2rem;
		}
	}
}

.post-actions {
    font-size: 2em !important;
}

.spacer10 {
    height:10px;
    width: 100%;
}

.spacer20 {
    height:20px;
    width: 100%;
}

.spacer40 {
    height:40px;
    width: 100%;
}

.spacer60 {
    height: 60px;
    width: 100%;
}

.spacer100 {
    height: 100px;
    width: 100%;
}

.spacer170 {
    height:170px;
    width: 100%;
}

.padding{
    padding: 20px !important;
}

// Button Style Overrides
// Outlined buttons
.button-outline {
  border-width: 2px !important; 
  border-color: $base-color !important;
  color: $base-color !important;
}

.button-positive{
    background: $base-color !important;
    background-color: $base-color !important;
}

//Font overrides
// *{
//   font-family: 'Lato' !important;
// }

//Mixins
@mixin centered-heading {
    text-align: center;
    font-family: 'Lato';
    font-weight: bold;
    font-size: $headingTextSize;
    color: #fff !important;
}

@mixin centered-medium-text{
    text-align: center;
    font-family: 'Lato';
    font-size: .55em;
    color: #fff !important;
}

@mixin centered-small-text{
    text-align: center;
    font-family: 'Lato';
    //font-style: italic;
    font-size: $smallTextSize;
    color: #fff !important;
}

@mixin vbox-layout{
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: stretch;    
}