// Typography

//// Custom Google Fonts
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf');
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf');
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'BreeSerif';
  src: url('../fonts/BreeSerif-Regular.ttf');
  src: url('../fonts/BreeSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


//// Base Type Styling
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

.subtle {
  color: $neutral;
  font-size: 0.85rem;
  line-height: 1.2;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select {
  width: 100%;
  border-radius: 6px;
  height: 40px;
  border: 1px solid #C6C6C6;
}
.invalid-input {
  border: 1px solid $error !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

//// Form Styles
.item-input {
  padding: 0;
}
.item-select {
  height: 36px;
}
.item-select select {
  padding: 10px 48px 10px 16px;
}
select, input, textarea {
  border: 1px solid $neutral;
  padding: 0.250rem;
  height: 2.25rem;
  &[type="checkbox"],
  &[type="range"] {
      border: none;
  }
}
select {
  padding: 0.5rem;
  padding-right: 2.5rem;
}
textarea {
  height: 4rem;
  border-radius: 6px;
}

.help-inline {
  color: $error !important;
  padding-top: 0.500rem;
  padding-bottom: 0.500rem;
  font-size: 14px;
}
