<ion-view class="chat">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
        <button ui-sref="app.usermessages" class="button button-clear">
          <i class="icon ion-ios-arrow-left"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <label class="row user">
        <span>Amie Roger </span>
        <img class="profile_image" src="img/eskimo.jpg" alt="profile image">
      </label>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="chat_msgs padding">
    <div class="date">July 15 at 7:45 pm </div>
    <div class="bubble bubble-left">
      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet
    </div>
    <div class="bubble bubble-left">
      Lorem ipsum something something
    </div>
    <div class="date">Today at 9:15 am </div>
    <div class="bubble bubble-right">
      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet
    
      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet      Lorem ipsum dolor sit amet
    
    </div>

  </ion-content>

  <ion-footer-bar class="row">
    <input type="text" class="col" placeholder="New Message..">
    <div class="col col-20 button button-positive">Send</div>
  </ion-footer-bar>
</ion-view>
