<ion-view cache-view="false" class="chat">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
        <button ng-click="goBack()" class="button button-clear">
          <i class="icon ion-ios-arrow-left"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <label class="row user">
        <span>{{other_user.Name}}</span>
        <img
         class="profile_image"
         ng-src=" {{other_user.Profile_image}} ">
      </label>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="chat_msgs padding has-footer">
    <div ng-repeat='m in messages track by m.id' class="message-wrapper">
      
      <div ng-if="m.sender_id !== Self.id">
          <div class="date" ng-bind="m.formatted_date"></div>
          <div class="bubble-left">
              <div class="message" autolinker>
              {{m.body}}
              </div>
          </div>
      </div>
      <div ng-if="m.sender_id === Self.id">
          <div class="date" ng-bind="m.formatted_date"></div>
          <div class="bubble-right">
              <div class="message" autolinker>
              {{m.body}}
              </div>
          </div>
      </div>
      <div class="cf"></div>
    </div>
  </ion-content>
    
  <ion-footer-bar keyboard-attach class="row">
      <textarea class="col" ng-model="newMessage.text" placeholder="New Message.."></textarea>
    <div 
      ng-click='sendMessage()'
      class="col col-20 button button-positive"
      >
      Send
    </div>
  </ion-footer-bar>
</ion-view>
