<ion-view view-title="Edit Profile" hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear header-item" ui-sref="app.userprofile">
            <i class="icon ion-ios-arrow-left"></i>
        </button>
        <h1 class="title">Edit Profile</h1>
    </ion-header-bar>
  <ion-content class="edit_profile">
    <ion-list>
      <ion-item class="profile_image row">
        <div class="col" ng-click="toggleCamBar()">
          <img ng-src="{{imgUri}}">
        </div> 
          <div class="col text-center">
              Tap image to edit
          </div>
      </ion-item>
        <ion-item ng-show="showCamBar">
            <div class="button-bar" width="100%" style="background:transparent;max-height:40px;">
                <a class="button button-dark" ng-click="openMedia('camera')" style="font-weight:bold;">Camera</a>
                <a class="button button-dark" ng-click="openMedia('gallery')" style="font-weight:bold;">Gallery</a>
                <a class="button button-dark" ng-click="clearImage()" style="font-weight:bold;">Clear</a>
            </div>
        </ion-item>    
      <ion-item class="row no-top-border">
        <span class="col col-33">Name</span>
        <input class="col" type="text" value="{{User.Name}}" ng-model="newData.Name"/>

      </ion-item>
        
      <ion-item class="row">
        <span class="col col-33">Karma</span>
        <input class="col" type="text" value="{{User.karma}}" ng-model="newData.karma" readonly/>
      </ion-item>

      <ion-item class="row" ng-if="User.Email_id && newData.public_profile">
        <span class="col col-33">Email</span>
        <input class="col" type="email" 
        value="{{User.Email_id}}"
        ng-model="newData.Email_id">
      </ion-item>

      <ion-item class="row">
        <span class="col col-33">Gender</span>
        <input class="col" type="text" 
               value="{{User.Gender}}" 
               ng-model="newData.Gender" 
               ng-click="showSelect($event)" style="background:#fff" readonly/>
      </ion-item>

      <ion-item class="row">
        <span class="col col-33">DOB</span>
        <input class="col"
        type='date'
        value="{{User.Birth_date }}"
        ng-model="newData.Birth_date"
        />
      </ion-item>

      <ion-item class="row">
        <span class="col col-33">Interests</span>
        <input class="col" type="text" value="{{User.Activities}}" ng-model="newData.Activities"/>
      </ion-item>

      <ion-item class="row item">
        <span class="col"> Make Email Visible to Public </span>
        <label class="toggle toggle-positive">
          <input type="checkbox"
          ng-checked="newData.public_profile"
          ng-model="newData.public_profile"
          ng-change="makePublic()"
          >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

    </ion-list>
    <div class="spacer20"></div>
    <div class="text-center">
      <span 
        ng-click="doEdit()"
        class="custom_btn">
        Save
      </span>
    </div>      
    <div class="spacer20"></div>
  </ion-content>
</ion-view>
