<ion-view view-title="Edit Profile">
  <ion-nav-bar class="bar bar-header">
    <button class="button button-clear"
      ng-click="goBack()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Edit Profile</h1>
  </ion-nav-bar>
  <ion-content class=" full_profile">

    <ion-list>
      <ion-item style="visibility: hidden" class="profile_image row">
        <div class="col">
          <h1>Edit Profile</h1>
        </div>
        <div class="centered_button col">
          <span class="custom_btn">Edit Profile</span>
        </div>
      </ion-item>

      <ion-item class="row no-top-border">
        <span class="col col-33">Name</span>
        <input class="col" type="text" value="{{User.Name}}" ng-model="newData.Name"/>

      </ion-item>

      <ion-item class="row">
        <span class="col col-33">Email</span>
        <input class="col" type="email" 
        value="{{User.Email_id}}"
        ng-model="newData.Email_id">
      </ion-item>

      <ion-item class="row">
        <span class="col col-33">Gender</span>
        <!-- TODO: change this to dropdown -->
        <select class="col" 
          style="background: transparent"
          ng-if="User.Gender == 'Male'"
          ng-model="newData.Gender"
          >
          <option selected>Male</option>
          <option>Female</option>
        </select>
        <select class="col" 
          style="background: transparent"
          ng-if="User.Gender == 'Female'"
          ng-model="newData.Gender"
          >
          <option>Male</option>
          <option selected>Female</option>
        </select>
      </ion-item>

      <ion-item class="row">
        <span class="col col-33">DOB</span>
        <input class="col"
        type='date'
        value="{{User.Birth_date}}"
        ng-model="newData.Birth_date"
        />
      </ion-item>

      <ion-item class="row">
        <span class="col col-33">Interests</span>
        <textarea class="col" type="text" 
          ng-model="newData.Activities">{{User.Activities}}</textarea>
      </ion-item>

      <ion-item class="row item">
        <span class="col"> Make Email Visible to Public </span>
        <label class="toggle toggle-positive">
          <input type="checkbox"
          ng-model="newData.public_profile"
          >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

    </ion-list>
    <div class="spacer20"></div>
    <div class="text-center">
      <span 
        ng-click="doEdit()"
        class="custom_btn">
        Save
      </span>
    </div>      
    <div class="spacer20"></div>
  </ion-content>
</ion-view>
