<ion-view view-title="Messages" class="messages" hide-nav-bar="true">
  <ion-header-bar class="bar bar-header">
    <!-- <button menu&#45;toggle="left" class="button button&#45;icon"> -->
    <!--   <img src="img/menu_off.png" height="18"/> -->
    <!-- </button> -->
    <button class="button button-clear" ng-click="goHome()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
    <h1 class="title">Messages</h1>
    <!-- <button class="button button&#45;icon" ui&#45;sref="app.userfollowing"> -->
      <button
        ng-click="goToFollowing()"
        class="button button-icon">
      <img src="img/newpost_off.png" height="22"/>
    </button>                
  </ion-header-bar>    
  <ion-content>
    <ion-list>
      <ion-item
        ng-repeat="c in conversations track by c.id"
        ng-class="{'gray': c.reciever_read == '1'}"
        class="message">
        <div class="row"
          ng-click='viewConversation(c.sender_id)'>
          <div class="avatar">
            <img
            ng-src="{{c.Profile_image}}">
          </div>
          <div class="col top">
            <div class="row">
              <span class="col name">{{c.Name}}</span>
              <span class="col time">{{ c.formatted_date }}</span>
            </div>
            <div class="row">
              <p class="text"> {{c.subject}} </p>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
