<ion-view view-title="Messages" class="messages" hide-nav-bar="true">
    <ion-header-bar class="bar bar-header">
        <button menu-toggle="left" class="button button-icon">
            <img src="img/menu_off.png" height="18"/>
        </button>
        <h1 class="title">Messages</h1>
        <button class="button button-icon" ng-click="showCompose()">
          <img src="img/newpost_off.png" height="22"/>
        </button>                
    </ion-header-bar>    
  <ion-content>
    <ion-list>
      <ion-item ui-sref="app.userchat" ng-repeat="m in messages" class="message">
        <div class="row">
          <div class="avatar">
            <img src={{m.profileImage}} alt="Profile Image">
          </div>
          <div class="col top">
            <div class="row">
              <span class="col name">{{m.user}}</span>
              <span class="col time">{{m.time}}</span>
            </div>
            <div class="row">
              <p class="text"> {{m.message}} </p>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
