<ion-view view-title="Profile" hide-nav-bar="true">
    <ion-header-bar class="bar bar-header">
      <button class="button button-clear" ui-sref="app.postmapview">
        <i class="icon ion-ios-arrow-left"></i>
      </button>
        <!-- <button menu&#45;toggle="left" class="button button&#45;icon"> -->
        <!--     <img src="img/menu_off.png" height="18"/> -->
        <!-- </button> -->
        <h1 class="title">Profile</h1>        
    </ion-header-bar>    
  <ion-content class="full_profile">

    <ion-list>
      <ion-item class="profile_image row">
        <div class="col">
          <img ng-src="{{User.Profile_image}}" alt="Profile Picture">
        </div>
        <div class="col" ng-if="isCurrentUser">
          <div
            ui-sref="app.editprofile"
            style="margin-top: 20%"
            class="custom_btn">
            Edit Profile
          </div>
        </div>
        <div class="col action_buttons"
          ng-if='!isCurrentUser'>
          <div
            class="custom_btn"
            ng-if="isFriend">
            Unfollow
          </div>
          <div 
            class="custom_btn"
            ng-if="!isFriend">
            Follow
          </div>
          <br/>
          <div
            ng-click="showNewMessageModal(User)"
            class="custom_btn">
            Send Message
          </div>
        </div>
      </ion-item>

      <ion-item class="row no-top-border">
        <span class="col col-20">Name</span>
        <span class="col"> {{User.Name}} </span>
      </ion-item>

      <ion-item ng-if="User.Karma" class="row">
        <span class="col col-20">Karma</span>
        <span class="col"></span>
      </ion-item>

      <ion-item class="row" ng-if="User.Email_id">
        <span class="col col-20">Email</span>
        <span class="col">{{User.Email_id}} </span>
      </ion-item>

      <ion-item class="row">
        <span class="col col-20">Gender</span>
        <span class="col">{{User.Gender}}</span>
      </ion-item>

      <ion-item class="row" ng-if="User.Age">
        <span class="col col-20">Age</span>
        <span class="col">{{User.Age}} </span>
      </ion-item>

      <ion-item class="row">
        <span class="col col-20">Interests</span>
        <span class="col">{{User.Activities}}</span>
      </ion-item>

      <ion-item class="row">
        <span class="col col-20">Posts</span>
        <span class="col">
          <span ui-sref="app.postmapview" class="custom_btn">
            See Nearby Posts
          </span>
        </span>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>
