<ion-view view-title="Profile" hide-nav-bar="true">
    <ion-header-bar class="bar bar-header">
        <button menu-toggle="left" class="button button-icon">
            <img src="img/menu_off.png" height="18"/>
        </button>
        <h1 class="title">Profile</h1>        
    </ion-header-bar>    
  <ion-content class="full_profile">

    <ion-list>
      <ion-item class="profile_image row">
        <div class="col">
        <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="centered_button col">
          <span ui-sref="app.editprofile" class="custom_btn">Edit Profile</span>
        </div>
      </ion-item>

      <ion-item class="row no-top-border">
        <span class="col">Name</span>
        <span class="col">John Smith</span>
      </ion-item>

      <ion-item class="row">
        <span class="col">Karma</span>
        <span class="col">40.25</span>
      </ion-item>

      <ion-item class="row">
        <span class="col">Email</span>
        <span class="col">Johnth@gmail.com</span>
      </ion-item>

      <ion-item class="row">
        <span class="col">Gender</span>
        <span class="col">Male</span>
      </ion-item>

      <ion-item class="row">
        <span class="col">Age</span>
        <span class="col">32</span>
      </ion-item>

      <ion-item class="row">
        <span class="col">Interests</span>
        <span class="nowrap">Soccer, Tennis, Movies, Books</span>
      </ion-item>

      <ion-item class="row">
        <span class="col">Posts</span>
        <span class="col">
          <span ui-sref="app.postmapview" class="custom_btn">
            See Nearby Posts
          </span>
        </span>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>
