<ion-modal-view class="addpost">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="close(2)">
        <i class="icon ion-ios-arrow-left"></i>
      </button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="showModal(4)">
          <p ng-class="textColor">Post</p>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="avatar col col-20">
        <img class="prof-img" src="img/eskimo.jpg" width="100%"/>
      </div>
      <div class="post col">
        <textarea ng-change="checkInput()" placeholder="Write something.." ng-model="formData.postText" class="commentbox" focus-me></textarea>
      </div>        
    </div>
      <div style="text-align:center;" ng-show="imgUri?true:false">
          <div class="row" style="width:100%;height:20px;max-height:20px;z-index:1000" ng-click="closeImage()">
              <span class="col-90"></span>
              <a class="col-10 icon icon-right ion-close" style="font-size:.8em;color:#f00;z-index:1999;"></a>
          </div>
          <img ng-src="{{imgUri}}" width="100%" style="margin-top:-20px;z-index:1998;"/>
      </div>
      <ion-footer-bar ng-show="imgUri?false:true" style="position:absolute;bottom:0;max-height:44px;height:44px;">
          <div class="camera-button">
              <button class="button button-icon" ng-click="pickImages()">
                  Add Photo<i class="icon ion-camera"></i>
              </button>
          </div>
      </ion-footer-bar>
  </ion-content>
</ion-modal-view>
