<ion-popover-view class="alerts">
  <ion-content>
    <ion-list class="list">
      <ion-item ng-repeat="alert in alerts" class="alert" ng-class="{'gray': alert.is_read == 1}">
        <div class="row" ng-click="alertActions(alert)">
          <div ng-if="alert.user_image" class="avatar">
            <img ng-src="{{alert.user_image}}">
          </div>
          <div class="col top">
            <div class="row">
              <span class="col name">{{alert.user_name}}</span>
              <span class="col time">{{alert.created_at | date: 'MMM d, yyyy hh:mma'}}</span>
            </div>
            <div class="row">
              <p class="text"> {{alert.message}} </p>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
