<ion-popover-view class="cats">
    <div class="list">
      <div class="item item-icon-left" style="background:#ff7063;height:50px;padding-left:44px;" ng-click="setCategory(1)">
          <i class="icon">
           <img width="30" ng-src="img/pin1.svg"/>
          </i>
        Food
      </div>
      <div class="item item-icon-left" style="background:#909090;height:50px;padding-left:44px;" ng-click="setCategory(2)">
          <i class="icon">
           <img width="30" ng-src="img/pin2.svg"/>
          </i>          
        Safety
      </div>
      <div class="item item-icon-left" style="background:#b795ff;height:50px;padding-left:44px;" ng-click="setCategory(3)">
          <i class="icon">
           <img width="30" ng-src="img/pin3.svg"/>
          </i>          
        Events
      </div>
      <div class="item item-icon-left" style="background:#7bcebb;height:50px;padding-left:44px;" ng-click="setCategory(4)">
          <i class="icon">
           <img width="30" ng-src="img/pin4.svg"/>
          </i>          
        Development
      </div>
      <div class="item item-icon-left" style="background:#f6c654;height:50px;padding-left:44px;" ng-click="setCategory(5)">
          <i class="icon">
           <img width="30" ng-src="img/pin5.svg"/>
          </i>          
        Other
      </div>        
    </div>
</ion-popover-view>