<ion-popover-view style="height:250px;width:200px;padding:0;background:#666;margin-top:0;">
  <ion-content scroll="false">
    <div class="list">
      <div class="item item-icon-left" style="background:#ff7063;height:50px;padding-left:44px;" ng-click="setCategory(1)">
          <i class="icon">
           <img width="24" ng-src="img/pin1.png"/>
          </i>
        Food
      </div>
      <div class="item item-icon-left" style="background:#909090;height:50px;padding-left:44px;" ng-click="setCategory(2)">
          <i class="icon">
           <img width="24" ng-src="img/pin2.png"/>
          </i>          
        Safety
      </div>
      <div class="item item-icon-left" style="background:#b795ff;height:50px;padding-left:44px;" ng-click="setCategory(3)">
          <i class="icon">
           <img width="24" ng-src="img/pin3.png"/>
          </i>          
        Events
      </div>
      <div class="item item-icon-left" style="background:#7bcebb;height:50px;padding-left:44px;" ng-click="setCategory(4)">
          <i class="icon">
           <img width="24" ng-src="img/pin4.png"/>
          </i>          
        Development
      </div>
      <div class="item item-icon-left" style="background:#78b6f0;height:50px;padding-left:44px;" ng-click="setCategory(5)">
          <i class="icon">
           <img width="24" ng-src="img/pin5.png"/>
          </i>          
        Other
      </div>        
    </div>
  </ion-content>
</ion-popover-view>