<ion-view class="postlistview">
  <ion-nav-bar >
    <ion-nav-back-button class="button-clear">
      <i class="icon ion-ios-arrow-left"></i>
    </ion-nav-back-button>
    <ion-nav-title >Comments</ion-nav-title>
  </ion-nav-bar>
  <ion-content>

    <div class="post_item">
      <div class="row user">
        <div class="col col-20">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class=" date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            lorem ipsum llorem ipsum loremorem ipsum lorem ipsum lorem 
          </div>
        </div>
      </div>
      <img src="img/cars.png" alt="">
      <div class="share row">
        <span class="col col-20 chat-bubble">
          3
          <i class="icon ion-ios-chatbubble-outline"></i>
        </span>
        <span class="col arrows">
          <i class="icon ion-arrow-up-a"></i>
          15
          <i class="icon ion-arrow-down-a"></i>
        </span>
        <span class="col"> Share </span>
      </div>
    </div>

    <div class="comments">
      <div class="row user">
        <div class="col col-20">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class=" date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            lorem ipsum llorem ipsum loremorem ipsum lorem ipsum lorem 
          </div>
        </div>
        </div><div class="row user">
        <div class="col col-20">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class=" date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            lorem ipsum llorem ipsum loremorem ipsum lorem ipsum lorem 
          </div>
        </div>
        </div><div class="row user">
        <div class="col col-20">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class=" date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            lorem ipsum llorem ipsum loremorem ipsum lorem ipsum lorem 
          </div>
        </div>
        </div><div class="row user">
        <div class="col col-20">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class=" date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            lorem ipsum llorem ipsum loremorem ipsum lorem ipsum lorem 
          </div>
        </div>
        </div><div class="row user">
        <div class="col col-20">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class=" date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            lorem ipsum llorem ipsum loremorem ipsum lorem ipsum lorem 
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <input type="text" placeholder="Write a comment..">
    <div class="button button-positive">Post</div>
  </ion-footer-bar>
</ion-view>
