<ion-view hide-nav-bar="true" cache-view="false" class="mapmodal">
    
  <div class="bar bar-header bar-positive text-center">
    <button class="button button-icon button-clear" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
    <div class="title">Comments</div>
  </div>
<!--
    <ion-header-bar class="bar bar-header">
      <button class="button button-clear" ui-sref="app.postlistview">
        <i class="icon ion-ios-arrow-left"></i>
      </button>
        <h1 class="title">Comments</h1>        
    </ion-header-bar>    
-->
  <ion-content style="margin-top:60px;">
    <div class="post_item">
      <div class="row user">
        <div class="col col-90"> 
            <p class="desc" ng-bind-html="post.news | linky | hrefToJS | hashtag"></p>
            <!-- p class="desc" ng-if="post.link_url">{{post.news}}</p -->
        </div>
        <div ng-click="showMapForPost(post)" class="col col-10" style="width:20px;">
            <img width="20" ng-src="img/pin{{post.category_id}}.png" />
        </div>
      </div>
      <img ng-if="post.thumb" class="post-iamge" ng-src="{{post.thumb}}" ng-click="showImage(post.image)" alt="">
        <div class="item" style="padding-top:0;" ng-if="post.link_url" ng-click="openLink(post.link_url)">
            <div class="item-body">
              <img class="full-image" ng-src={{post.link_image}} ng-if="post.link_image" alt="">
              <div class="post-link">
                  <h3 class="link-title">{{post.link_title}}</h3>
                  <span class="link-text">{{post.link_description}}</span>
              </div>
            </div>
        </div>        
      <div class="share row">
        <post-like-box></post-like-box>
        <span class="text-comm" ng-if="post.comment_count > 1" ng-click="goToComments(post)">
            {{post.comment_count}} comments
        </span>
        <span class="text-comm" ng-if="post.comment_count == 1" ng-click="goToComments(post)">
            1 comment
        </span>          
        <span class="text-comm" ng-if="post.comment_count == 0" ng-click="goToComments(post)">
            Comment
        </span>
        <div class="post-by">
            <div class="row text-gray">
                <div class="date">
                  {{post.created_date}} by 
                </div>
                <div ng-click="goToProfile(post.user_id)" class="user-name">{{post.Name}}</div>
            </div>
        </div>
        <post-actions post="post" from="comments"></post-actions>
      </div>
    </div>

    <ion-list class="comments">
        <div class="item" ng-if="hasMore" ng-click="loadMore()">
            <p>See more comments</p>
        </div>                  
      <ion-item class="item item-avatar item-text-wrap user" 
        style="border-bottom: 1px solid lightgray; padding-bottom: 5px;"
        ng-repeat="comment in postComments">
        <img ng-src="{{comment.Profile_image}}" alt="profile image" ng-click="goToProfile(comment.user_id)">
          <div class="name">
            <span>{{comment.user_name}}</span>
            <div class="date right">
              <div>{{comment.commTimeAgo}}</div>
            </div>
          </div>
        <p class="comm-text" ng-bind-html="comment.comment | linky | hrefToJS"></p>
          <!--div class="desc">{{comment.comment}}</div-->
        
        <!-- <div style="width:20px;padding:5px"> -->
        <!--   <a class="icon ion&#45;ios&#45;location&#45;outline" style="font&#45;size:1.3em;"></a> -->
        <!-- </div> -->
        <ion-option-button ng-if="comment.canEdit" class="button-assertive" ng-click="delComment(comment)">
            Delete
        </ion-option-button>      
      </ion-item>
    </ion-list>
    <div class="write-comment row">
       <textarea class="col" rows="1" ng-model="newComment.text" placeholder="Write a comment.."></textarea>
      <div ng-click="postComment()" class="button button-small button-positive col col-20">
        Post
      </div>
    </div>
  </ion-content>    
</ion-view>
