<ion-view hide-nav-bar cache-view="false" class="mapmodal">
    
  <ion-nav-bar >
    <ion-nav-back-button class="button-clear">
      <i class="icon ion-ios-arrow-left"></i>
    </ion-nav-back-button>
    <ion-nav-title>Comments</ion-nav-title>
  </ion-nav-bar>
<!--
    <ion-header-bar class="bar bar-header">
      <button class="button button-clear" ui-sref="app.postlistview">
        <i class="icon ion-ios-arrow-left"></i>
      </button>
        <h1 class="title">Comments</h1>        
    </ion-header-bar>    
-->
  <ion-content>
    <div class="post_item">
      <div class="row user">
        <div class="col col-20 avatar"
          ng-click="goToProfile(post.user_id)"
          >
          <img ng-src="{{post.Profile_image}}">
        </div>
        <div class="col"> 
          <div class="name">
            <span>{{post.Name}}</span>
            <div class="date">
              {{post.created_date}}
            </div>
          </div>
            <p class="desc" ng-bind-html="post.news | linky | hrefToJS"></p>
            <!-- p class="desc" ng-if="post.link_url">{{post.news}}</p -->
        </div>
        <div
          ng-click="showMapForPost(post)"
          style="width:20px;">
          <a class="icon ion-ios-location-outline" style="font-size:1.3em;"></a>
        </div>                        
      </div>
      <img ng-if="post.thumb" class="post-iamge" ng-src="{{post.thumb}}" ng-click="showImage(post.image)" alt="">
        <div class="item" style="padding-top:0;" ng-if="post.link_url" ng-click="openLink(post.link_url)">
            <div class="item-body">
              <img class="full-image" ng-src={{post.link_image}} ng-if="post.link_image" alt="">
              <div class="post-link">
                  <h3 class="link-title">{{post.link_title}}</h3>
                  <span class="link-text">{{post.link_description}}</span>
              </div>
            </div>
        </div>        
      <div class="share row">
        <span class="col col-20 chat-bubble">
          {{post.comment_count}}
          <img src="img/chat.png" alt="">
        </span>
          <post-like-box></post-like-box>
        <div class="col"></div>
        <post-actions class="col col-20" post="post" from="comments"></post-actions>
      </div>
    </div>

    <ion-list class="comments">
        <div class="item" ng-if="hasMore" ng-click="loadMore()">
            <p>See more comments</p>
        </div>                  
      <ion-item class="item item-avatar item-text-wrap user" 
        style="border-bottom: 1px solid lightgray; padding-bottom: 5px;"
        ng-repeat="comment in postComments">
        <img ng-src="{{comment.Profile_image}}" alt="profile image" ng-click="goToProfile(comment.user_id)">
          <div class="name">
            <span>{{comment.user_name}}</span>
            <div class="date right">
              <div>{{comment.commTimeAgo}}</div>
            </div>
          </div>
        <p class="desc" ng-bind-html="comment.comment | linky | hrefToJS"></p>
          <!--div class="desc">{{comment.comment}}</div-->
        
        <!-- <div style="width:20px;padding:5px"> -->
        <!--   <a class="icon ion&#45;ios&#45;location&#45;outline" style="font&#45;size:1.3em;"></a> -->
        <!-- </div> -->
        <ion-option-button ng-if="comment.canEdit" class="button-assertive" ng-click="delComment(comment)">
            Delete
        </ion-option-button>      
      </ion-item>
    </ion-list>
    <div class="write-comment row">
      <input type="text" class="col" ng-model="newComment.text" placeholder="Write a comment..">
      <div ng-click="postComment()" class="button button-small button-positive col col-20">
        Post
      </div>
    </div>
  </ion-content>    
</ion-view>
