<ion-modal-view class="col" style="background:transparent;width:100%;height:100%;">
    
<div class="row row-top" style="height:40%;width:100%;" ng-click="hideMenuModal()"></div>
   <div class="row row-center" style="height:20%;width:100%;">
       <div class="list card" style="width:100%;">
           
           <a ng-click="editPost(post)" ng-if="post.canEdit" class="item text-center">
               Edit Post
           </a>
           
           <a ng-click="deletePost(post)" ng-if="post.canEdit" class="item text-center">
               Delete Post
           </a>

           <a ng-click="sharePost(post)" class="item text-center">
               Share ...
           </a>
           
           <a ng-click="followUser(post)" ng-if="!post.isFriend && !post.canEdit" class="item text-center">
               Follow {{post.Name}}
           </a>           
           
           <a ng-click="unfollowUser(post)" ng-if="post.isFriend && !post.canEdit" class="item text-center">
               Unfollow {{post.Name}}
           </a>                      
           
           <a ng-click="viewProfile(post)" ng-if="!post.canEdit" class="item text-center">
               View {{post.Name}}'s Profile
           </a>  
           
           <a ng-click="blockUser(post)" ng-if="!post.canEdit" class="item text-center">
               Block {{post.Name}}
           </a>                      
           
           <a ng-click="flagPost(post)" ng-if="!post.canEdit" class="item text-center">
               Flag as Inappropriate
           </a>                                 
           
           <a ng-click="hideMenuModal()" class="item text-center">
               Cancel
           </a>
       </div>
   </div>
  <div class="row row-bottom" style="height:40%;width:100%;" ng-click="hideMenuModal()"></div>
</ion-modal-view>
