<ion-view cache-view="false" class="addpost">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button button-clear" ng-click="goBack()">          
        <i class="icon ion-ios-arrow-left"></i>
          Cancel
      </button>
    </div>
    <h1 class="title">Edit Post</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="savePost()">
          <p ng-class="textColor">Save</p>
      </button>
    </div>
  </ion-header-bar>
  <ion-header-bar class="bar bar-subheader" style="padding:0;">
    <div class="row" style="background:#ddd;height:110px;">
        <div class="image-round" ng-click="toggleCamBar()">
            <img ng-show="imgUri" ng-src="{{imgUri}}"/>
            <img ng-show="!imgUri" ng-src="img/cam_icon.png"/>
        </div>
        <div class="col col-70">
            <div ng-click="selectLocation()" style="border:1px solid #222" class="button button-large button-block button-light btn-location">
                <p class="address">
                    {{addLocation}}
                    <i class="icon icon-right ion-chevron-right"></i>
                </p>
            </div>
        </div>
    </div>
    <div class="button-bar" width="100%" style="background:#000;" ng-show="showCamBar">
        <button class="button button-clear button-light" ng-click="clearImage()">Clear</button> 
        <button class="button button-clear button-light" ng-click="openMedia('camera')">Take Picture</button>        
        <button class="button button-clear button-light" ng-click="openMedia('gallery')">Gallery</button>
    </div>
 </ion-header-bar>
  <ion-content has-header="true" style="margin-top:60px;">
        <textarea ng-change="checkInput()" ng-focus="hideCamBar()" placeholder="Write something.." ng-model="formData.postText" class="commentbox"></textarea>
  </ion-content>
</ion-view>
