<ion-view hide-nav-bar="true" hide-back-button="true" class="filters">
    <div class="bar bar-header bar-positive">
          <button ng-click="goBack()" class="button button-clear" style="margin-right:10px;">
            Cancel
          </button>        
          <label class="title">
              Filters
          </label>
          <button ng-click="applyCats()" class="button button-clear">
            Apply
          </button>        
    </div>
    <ion-content padding="false" class="has-header" has-header="true">
        <div class="list">
            <div class="item" style="border:0;">
                <label style="font-size:1.2em;">
                    Sort posts by:
                </label>
            </div>
            <div class="item text-center" style="border:0;height:52px;padding:0;" ng-click="showSortBy()">
                <div id="fld1" class="row select-fld" ng-class="{'selected': isSelectedOne}">
                    <label class="col col-80">{{selectedPostText}}</label>
                        <i class="icon ion-ios-arrow-down"></i>
                </div>
            </div>                        
            <div class="item" style="border:0;">
                <label style="font-size:1.2em;">
                    See posts from:
                </label>
            </div>   
            <div class="item text-center" style="border:0;height:52px;padding:0;" ng-click="showPostsFrom()">
                <div id="fld2" class="row select-fld" ng-class="{'selected': isSelectedTwo}">
                    <label class="col col-80">{{selectedMyText}}</label>
                        <i class="icon ion-ios-arrow-down"></i>
                </div>
            </div>                        
            <div class="item" style="border:0;">
                <label style="font-size:1.2em;">
                    Visible Categories:
                </label>
            </div>
          <div class="item item-icon-left item-toggle fbg1">
              <i class="icon">
               <img width="24" ng-src="img/pin1.svg"/>
              </i>
            Food
                <label class="toggle toggle-positive">
                <input type="checkbox" ng-checked="cats[0]" ng-model="cats[0]">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>              
          </div>
          <div class="item item-icon-left item-toggle fbg2">
              <i class="icon">
               <img width="24" ng-src="img/pin2.svg"/>
              </i>          
            Safety
                <label class="toggle toggle-positive">
                <input type="checkbox" ng-checked="cats[1]" ng-model="cats[1]">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>                            
          </div>
          <div class="item item-icon-left item-toggle fbg3">
              <i class="icon">
               <img width="24" ng-src="img/pin3.svg"/>
              </i>          
            Events
                <label class="toggle toggle-positive">
                <input type="checkbox" ng-checked="cats[2]" ng-model="cats[2]">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>                            
          </div>
          <div class="item item-icon-left item-toggle fbg4">
              <i class="icon">
               <img width="24" ng-src="img/pin4.svg"/>
              </i>          
            Development
                <label class="toggle toggle-positive">
                <input type="checkbox" ng-checked="cats[3]" ng-model="cats[3]">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>                            
          </div>
          <div class="item item-icon-left item-toggle fbg5" >
              <i class="icon">
               <img width="24" ng-src="img/pin5.svg"/>
              </i>          
            Other
                <label class="toggle toggle-positive">
                <input type="checkbox" ng-checked="cats[4]" ng-model="cats[4]">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>                            
          </div>        
            <!--
            <div class="item">
                <label style="font-size:1.2em;">
                    Sort posts by:
                </label>
            </div>
          <div class="item item-icon-right smaller" ng-class="{'selected' : filter==0}" ng-click="setFilter(0)">
            Default (Recent &amp; Popular)
              <i class="icon ion-checkmark" ng-show="filter==0" style="font-size:1em;"></i>
          </div>    
          <div class="item item-icon-right smaller" ng-class="{'selected' : filter==1}" ng-click="setFilter(1)">
            Most Recent
              <i class="icon ion-checkmark" ng-show="filter==1" style="font-size:1em;"></i>
          </div>    
          <div class="item item-icon-right smaller" ng-class="{'selected' : filter==2}" ng-click="setFilter(2)">
            Most Popular
              <i class="icon ion-checkmark" ng-show="filter==2" style="font-size:1em;"></i>
          </div>    
          <div class="item item-icon-right smaller" ng-class="{'selected' : filter==3}" ng-click="setFilter(3)">
            Just My Posts
              <i class="icon ion-checkmark" ng-show="filter==3" style="font-size:1em;"></i>
          </div>    
          <div class="item item-icon-right smaller" ng-class="{'selected' : filter==4}" ng-click="setFilter(4)">
            People I Follow
              <i class="icon ion-checkmark" ng-show="filter==4" style="font-size:1em;"></i>
          </div>     -->           
        </div>        
    </ion-content>
</ion-view>