<ion-modal-view class="postlistview">
    <div class="bar bar-header bar-positive modal_header row">
        <div class="col col-50"></div>
        <div class="col col-40"></div>
        <div class="col col-10" ng-click="closeImageModal()">
            <i class="icon ion-close"></i>
        </div>
    </div>
    
    <ion-content class="has-header">
        <ion-scroll zooming="true" min-zoom="1" direction="xy">
            <img class="full-image" ng-src="{{imageSrc}}">
        </ion-scroll>
    </ion-content>
    
</ion-modal-view>