<ion-view hide-back-button="true" class="postlistview">
  <ion-nav-buttons>
    <div class="row bar bar-header" id="nav-bar">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

        <div class="col">
            <button class="button button-icon" ng-click="showModal(2)">
              <img src="img/newpost_off.png" width="22px" alt="">
            </button>
        </div>
        <div class="col">
            <button class="button button-icon" ng-click="pickImages()">
                <img src="img/camera_off.png" style="margin-top:2px" width="28px" alt="">
            </button>
        </div>
        <div class="col text-center">
            <button class="button button-icon" ng-click="showAlerts($event)" >
              <img src="img/alerts_off.png" style="margin-top:2px" width="22px" alt="">
            </button>
        </div>
        <div class="col">
            <button class="button button-icon" ng-click="toggleSearch()">
              <img src="img/search_off.png" style="margin-top:2px" width="22px" alt="">
            </button>
        </div>

        <button class="button button-icon" ui-sref="app.postmapview">
          <img src="img/map_off.png" width="25px" alt="">
        </button>
    </div>
  </ion-nav-buttons>
    <div class="row bar bar-subheader" ng-show="showSearch" style="padding:5px;">
        <div class="col-50">
            <label class="item-input" style="border:1px solid #ddd; height:100%;">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" style="height:100%">
            </label>
         </div>
        <div class="col">    
            <a class="item item-icon-right" ng-click="showSelect($event)">
                <label class="post-select">
                  {{selected}}
                  <i class="icon ion-ios-arrow-down"></i>
                </label>             
            </a>
           </div>
        <div class="col-20">            
          <button class="button button-block button-positive" >Go</button>
        </div>
    </div>          
  <ion-content padding="false">
      
    <div class="post_item">
      <div class="row user">
        <div class="col col-20 avatar">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class="date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            Hi, look at this text. How do you think it looks? Looks nice, doesn't it? 
          </div>
        </div>
      </div>
      <img src="img/cars.png" alt="">
      <div class="share row">
        <span class="col col-20 chat-bubble" ui-sref="app.postcomments">
          3
          <img src="img/chat.png" alt="">
        </span>
        <span class="col arrows">
          <img src="img/upvote.png" alt="">
          15
          <img src="img/downvote.png" alt="">
        </span>
        <span class="col"> Share </span>
      </div>
    </div>

    <!-- just repeating the div above -->
    <div>
<div class="post_item">
      <div class="row user">
        <div class="col col-20 avatar">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class=" date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            Hi, look at this text. How do you think it looks? Looks nice, doesn't it? 
          </div>
        </div>
      </div>
      <img src="img/cars.png" alt="">
      <div class="share row">
        <span class="col col-20 chat-bubble" ui-sref="app.postcomments">
          3
          <img src="img/chat.png" alt="">
        </span>
        <span class="col arrows">
          <img src="img/upvote.png" alt="">
          15
          <img src="img/downvote.png" alt="">
        </span>
        <span class="col"> Share </span>
      </div>
    </div><div class="post_item">
      <div class="row user">
        <div class="col col-20 avatar">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class=" date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            Hi, look at this text. How do you think it looks? Looks nice, doesn't it?  
          </div>
        </div>
      </div>
      <img src="img/cars.png" alt="">
      <div class="share row">
        <span class="col col-20 chat-bubble" ui-sref="app.postcomments">
          3
          <img src="img/chat.png" alt="">
        </span>
        <span class="col arrows">
          <img src="img/upvote.png" alt="">
          15
          <img src="img/downvote.png" alt="">
        </span>
        <span class="col"> Share </span>
      </div>
    </div><div class="post_item">
      <div class="row user">
        <div class="col col-20 avatar">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class=" date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            Hi, look at this text. How do you think it looks? Looks nice, doesn't it?  
          </div>
        </div>
      </div>
      <img src="img/cars.png" alt="">
      <div class="share row">
        <span class="col col-20 chat-bubble" ui-sref="app.postcomments">
          3
          <img src="img/chat.png" alt="">
        </span>
        <span class="col arrows">
          <img src="img/upvote.png" alt="">
          15
          <img src="img/downvote.png" alt="">
        </span>
        <span class="col"> Share </span>
      </div>
    </div><div class="post_item">
      <div class="row user">
        <div class="col col-20 avatar">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class=" date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            Hi, look at this text. How do you think it looks? Looks nice, doesn't it?
          </div>
        </div>
      </div>
      <img src="img/cars.png" alt="">
      <div class="share row">
        <span class="col col-20 chat-bubble" ui-sref="app.postcomments">
          3
          <img src="img/chat.png" alt="">
        </span>
        <span class="col arrows">
          <img src="img/upvote.png" alt="">
          15
          <img src="img/downvote.png" alt="">
        </span>
        <span class="col"> Share </span>
      </div>
    </div><div class="post_item">
      <div class="row user">
        <div class="col col-20 avatar">
          <img src="img/eskimo.jpg" alt="">
        </div>
        <div class="col"> 
          <div class="name">
            <span >Amie Roger</span>
            <div class=" date right">
              <i class="icon ion-ios-location-outline"></i>
              <div> 2 hours ago </div>
            </div>
          </div>
          <div class="desc">
            Hi, look at this text. How do you think it looks? Looks nice, doesn't it? 
          </div>
        </div>
      </div>
      <img src="img/cars.png" alt="">
      <div class="share row">
        <span class="col col-20 chat-bubble" ui-sref="app.postcomments">
          3
          <img src="img/chat.png" alt="">
        </span>
        <span class="col arrows">
          <img src="img/upvote.png" alt="">
          15
          <img src="img/downvote.png" alt="">
        </span>
        <span class="col"> Share </span>
      </div>
    </div>
    </div>
    <!-- repeat end -->

  </ion-content>
</ion-view>
