<ion-modal-view class="postlistview">
    <ion-header-bar>
        <div class="buttons">
          <button class="button button-clear" ng-click="close(1)">Close</button>
        </div>
      <h1 class="title">List View</h1>
    </ion-header-bar>
  <ion-content padding="false">
      <ul class="list">
        <li class="item" ng-repeat="post in nearbyPosts">
            <img class="prof-img" ng-src="{{post.Profile_image}}" width="100%"/><br>
            <div class="meta">
                <div class="user-name">{{post.Name}}</div>
                <div class="created-date">{{post.created_date}}</div>
            </div>
            <div class="desc">
                {{post.news}}
                <img ng-src="{{post.images}}" width="100%" ng-show="post.images != null"/>
            </div>
        </li>
    </ul>
  </ion-content>
</ion-modal-view>
