<ion-modal-view style="background:transparent;width:100%">
  <ion-pane class="vbox postlistview" style="background:transparent;width:100%">

    <div class="row" ng-click="hideModal()"></div>

    <div class="post_item"
      on-swipe-up="showFullView()"
      on-swipe-down="hideModal()"
      ng-class="viewMode"
      >
      <div class="bar-header row modal_header" ng-show="showMapModalBar">
          <div class="left col col-20" ng-click="hideModal()">
              <i class="icon ion-close"></i>
          </div>
          <div class="col col-50"></div>
          <div class="right col col-30">
              <i ng-click="swipe('right', post)" class="icon ion-chevron-up" style="height:40px;"></i>
              &nbsp;&nbsp;
              <i ng-click="swipe('left', post)" class="icon ion-chevron-down" style="height:40px;"></i>
          </div>
      </div>
      <div class="row user">
        <div class="col col-20 avatar">
          <img ng-src="{{post.Profile_image}}" alt="" ui-sref="app.userprofile">
        </div>
        <div class="col"> 
          <div class="name">
            <span>{{post.Name}}</span>
            <div class="date right">
              <div> {{post.timeAgo}} </div>
            </div>
          </div>
          <p class="desc">
            {{post.news}}
          </p>
        </div>
      </div>
      <img ng-src="{{post.images}}" ng-if="post.images" alt=""/>
      <!-- <img ng&#45;show="post.images" ng&#45;src={{post.images}} alt=""/> -->
      <!-- <img ng&#45;hide="post.images" src="img/blank.png" /> -->
      <div class="share row">
        <span class="col col-20 chat-bubble" ng-click="goToComments(post)">
          {{post.comment_count}}
          <img src="img/chat.png" alt="">
        </span>
        <span class="col arrows">
          <img src="img/upvote_off.png" ng-if="post.isLikedByUser != 1" ng-click="vote(post.id, 1)" alt="">
          <img src="img/upvote_on.png" ng-if="post.isLikedByUser == 1" ng-click="vote(post.id, 0)" alt="">
          {{post.news_count}} 
          <img src="img/downvote_off.png" ng-if="post.isLikedByUser != -1" ng-click="vote(post.id, -1)" alt="">
          <img src="img/downvote_on.png" ng-if="post.isLikedByUser == -1" ng-click="vote(post.id, 0)" alt="">
        </span>
        <span class="col" ng-click='openShare(post.sanitizedText, post.first_link)'> Share</span>
      </div>
    </div>
    <div class="comments">
      <div class="row user" 
        style="border-bottom: 1px solid lightgray; padding-bottom: 5px;"
        ng-repeat="comment in postComments">
        <div class="col col-20 avatar"
          ng-click="goToProfile(comment.user_id)"
          >
          <img ng-src="{{comment.Profile_image}}" alt="profile image">
        </div>
        <div class="col"> 
          <div class="name">
            <span>{{comment.user_name}}</span>
            <div class=" date right">
              <div>{{comment.timeAgo}}</div>
            </div>
          </div>
          <div class="desc">{{comment.comment}}</div>
        </div>
        <!-- <div style="width:20px;padding:5px"> -->
        <!--   <a class="icon ion&#45;ios&#45;location&#45;outline" style="font&#45;size:1.3em;"></a> -->
        <!-- </div>                         -->
      </div>
    </div>
  </ion-pane>
</ion-modal-view>
