<ion-view hide-back-button="true" class="mapview">
  <ion-nav-buttons>
    <div class="row bar bar-header">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        
        <div class="col">
            <button class="button button-icon" ng-click="showModal(2)">
              <i class="icon ion-ios-compose-outline"></i>
            </button>
        </div>
        <div class="col">    
            <button class="button button-icon" ng-click="pickImages()">
              <i class="icon ion-ios-camera-outline"></i>
            </button>
        </div>
        <div class="col text-center">            
            <button class="button button-icon" ng-click="showAlerts($event)" >
              <i class="icon ion-ios-flag-outline"></i>
            </button>
        </div>
        <div class="col">            
          <button class="button button-icon" ><i class="icon ion-ios-search"></i></button>
        </div>
        
        <button class="button button-icon" ><i class="icon ion-ios-paper-outline"></i></button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
    <div class="bar bar-footer bar-light range">
        <div class="title">
            <div class="list">
              <div class="item range range-positive">
                <i class="icon ion-navigate"></i>
                <input type="range" name="volume" min="0" max="150" value="inputRadius" ng-model="inputRadius"> 
                <!-- {{inputRadius/10}} -->
              </div>
            </div>
        </div>
    </div>
</ion-view>
