<ion-view hide-nav-bar="true" hide-back-button="true" class="mapview">
    <div ng-hide="isFromProfileView" class="bar bar-header bar-positive">
          <button ng-hide="searchMode" ui-sref="filters" class="button button-clear" style="margin-right:10px;">
            Filter
          </button> 
          <div class="row item-input-wrapper" style="background:#fff;height:32px;">
              <i class="icon ion-search" style="font-size:1.4em;color:#666;padding-left:4px;"></i>
              <form style="width:90%;padding-left:8px;padding-top:4px;color:#666;" name="searchForm" ng-submit="searchPosts()">                
                <input type="search" 
                       name="searchTerm" 
                       ng-model="searchTerm" 
                       placeholder="Keyword Search..."
                       ng-focus="searchMode=true;"
                       style="width:100%;height:100%;background:#fff;">
              </form>
            <a ng-show="isFiltered" style="width:10%;" ng-click="clearSearch()">
                   <i class="icon ion-ios-close placeholder-icon" style="font-size:1.4em;color:#666;"></i>
            </a>              
          </div>        
        <div class="text-center" style="width:60px;">                      
          <button ng-show="searchMode" class="button button-clear" ng-click="searchMode=false;">
            Cancel
          </button>
          <button ng-hide="searchMode" class="button button-clear" ng-click="hideModal()" ui-sref="app.postlistview">
            List
            </button> 
        </div>     
    <!--
        <div class="row" style="padding-top:10px;width:100%;">
            <button menu-toggle="left" ng-click="hideModal();" class="button button-icon icon-left" style="padding-left:0;padding-bottom:0;padding-top:4px;width:40px;margin-right:10px;">
              <img src="img/menu_off.png" height="20"/>
                <p class="icon-label">Menu</p>
            </button>
            <button class="col button button-icon" ng-click="goToNewPost()" style="padding-top:4px;padding-bottom:0;margin-right:6px;">
              <img src="img/newpost_off.png" height="22"/>
              <p style="margin-left:-4px;" class="icon-label">Post</p>
            </button>
            <button class="col button button-icon" ng-click="showAlerts($event)" style="padding-top:4px;padding-bottom:0;">
              <img src="img/alerts_off.png" height="22"/>
              <span ng-if="unreadAlerts > 0" class="alert-badge">{{unreadAlerts}}</span>
              <p class="icon-label">Alerts</p>
            </button>
            <button class="col button button-icon" ng-click="toggleSearch()" style="padding-top:4px;padding-bottom:0;margin-right:-4px;">
              <img ng-show="!isFiltered" src="img/search_off.png" height="22"/>
              <img ng-show="isFiltered" src="img/search_on.png" height="22"/>
                <p class="icon-label">Search</p>
            </button>
            <button class="button button-icon" ng-click="hideModal();" ui-sref="app.postlistview" style="width:60px;padding-right:0;padding-top:4px;padding-bottom:0;margin-right:-6px;">
              <img src="img/list_off.png" height="22"/>
                <p class="icon-label">List View</p>
            </button>
        </div>
-->
    </div>    
    <div ng-show="isFromProfileView" class="bar bar-header">
        <div class="row" style="padding-top:10px">
            <button class="button button-clear" ui-sref="app.userprofile">
                <i class="icon ion-ios-arrow-left"></i>
            </button>            
        </div>
    </div>
  <ion-content>
      <div ng-show="searchMode" class="list has-header">
          <div class="item item-header item-icon-left">
              <i class="icon ion-ios-clock-outline"></i>
              RECENT SEARCHES
          </div>
          <a class="item item-light" ng-repeat="search in recentSearches" ng-click="setRecentSearch(search)" style="border:0;height:40px;">
            {{search.text}}
          </a>
      </div>
    <div id="map" data-tap-disabled="true"></div>
  <div ng-show="isMapMoved" class="bar bar-footer bar-stable" style="height:60px;">
      <a ng-click="resetSearch()" style="width:80%;" class="button button-light button-map">
          Redo Search In This Area
      </a>
      
      <a ng-click="resetMap()" style="width:54px;padding:0;" class="button button-reset button-icon">
          <img src="img/nav.png" height="20" class="icon"/>
          Nearby
      </a>
  </div>
      
  <div ng-hide="isMapMoved" style="background:transparent;border:0 !important;height:60px;margin-bottom:6px;" class="bar bar-footer row">
      <div class="col col-80"></div>
      <div class="col col-20">
      <a ng-click="resetMap()" style="width:54px;padding:0;" class="button button-reset button-icon">
          <img src="img/nav.png" height="18" class="icon"/>
          Nearby
          </a>
      </div>
  </div>
      
  </ion-content>    
</ion-view>
