<ion-popover-view class="search-filters">
    <div class="list">
      <div class="item item-icon-left" ng-class="fClass1" ng-click="filterPosts(1)">
          <i class="icon">
           <img width="24" ng-src="img/pin1.png"/>
          </i>
        Food
      </div>
      <div class="item item-icon-left" ng-class="fClass2" ng-click="filterPosts(2)">
          <i class="icon">
           <img width="24" ng-src="img/pin2.png"/>
          </i>          
        Safety
      </div>
      <div class="item item-icon-left" ng-class="fClass3" ng-click="filterPosts(3)">
          <i class="icon">
           <img width="24" ng-src="img/pin3.png"/>
          </i>          
        Events
      </div>
      <div class="item item-icon-left" ng-class="fClass4" ng-click="filterPosts(4)">
          <i class="icon">
           <img width="24" ng-src="img/pin4.png"/>
          </i>          
        Development
      </div>
      <div class="item item-icon-left" ng-class="fClass5" ng-click="filterPosts(5)">
          <i class="icon">
           <img width="24" ng-src="img/pin5.png"/>
          </i>          
        Other
      </div>        
    </div>
</ion-popover-view>